// HEADER
header {
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  .arrow {
    position: absolute;
    top: 1.1rem;
    left: 1rem;
    i {
      right: 2rem;
      font-size: 1.3rem;
    }
    @media (min-width: 768px) {
      left: 5%;
    }
    .logo {
      text-align: center;
      padding: 1rem 0rem 0.5rem 0rem;
      img {
        width: 9rem;
        height: auto;
      }
    }
  }
}