@keyframes remplissage-coeur {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  @keyframes animation-menu {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes check-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @for $i from 1 through 10 {
    .card-#{$i} {
      animation: animation-menu 1s ease-in-out both #{$i * 200}ms;
    }
  }

  @keyframes loader {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes loader-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes content-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }