@mixin btn {
  height: 3rem;
  width: 13.4rem;
  margin: auto;
  background: $degraded-color;
  border-radius: 1.5rem;
  box-shadow: $box-shadow;
  transition: all 200ms ease-in-out;

  a {
    color: white;
    height: 100%;
    width: 100%;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 6px #0000002e;
  }
}

@mixin heart {
  i {
    cursor: pointer;
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    &:hover {
      background: linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      animation: remplissage-coeur .5s;
    }
  }
}