
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$degraded-color : linear-gradient($secondary-color, $primary-color);

$background-images : img-1, img-2, img-3, img-4;

$box-shadow : 0px 5px 3px rgba(0,0,0,0.05);